html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
        opacity: 1; /* this and transition affect the page loading fade-in effect */
        transition:23s opacity;
    letter-spacing: .2vw;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
}

/* contributes to fade effect on page load */
body.fade-out {
    opacity: .1; /* sets opacity at start of page load */
    transition: none;
}

.navbar {
    overflow: hidden;
    background-color: rgb(99,99,99);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
        position: fixed;
    -webkit-animation: moveNav 4s;
        animation: moveNav 4s;
}

.navbar a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    text-align: center;
    -webkit-animation: movenavText 5s;
        animation: movenavText 5s;
    letter-spacing: .2vw;
}

/* animation effect for moving the nav bar in from the top of the screen on page load */
@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

/* animation effect for moving the nav bar in from the top of the screen on page load */
@keyframes movenavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

.navbar a:hover {
    background-color: darkcyan;
    color: black;
    font-weight: bold;
    transition: transform 2s;
    transform: scale(1.1);
}

.navbar a.active {
    background-color: darkgrey;
}


#typing-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    top: 0;
    z-index: -1;
    animation: zoominout 4s;
}

/* causes video to zoom out from a zoomed in position on page load */
@keyframes zoominout {
    0% {transform: scale(1.5, 1.5);}
    100% {transform: scale(1,1);}
}

.video-text {
    background: rgba(0,0,0,0.5);
    color: white;
    width: 100%;
    padding-top: .1vh;
    padding-bottom: 1vh;
    margin-top: 23%;
        position: relative;
    -webkit-animation: moveNav 4s;
        animation: movevideoText 4s;
}

/* animation effect causes overlay video text to move up from bottom of screen on page load */
@keyframes movevideoText {
    from {right: -100vw;}
    to {right: 0vw;}
}

* {
    box-sizing: border-box;
}

/* slideshow styling */
#slideshow_background {
    background: rgba(255,255,255,0.35);
}

.mySlides {
    display: none;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* slideshow section/container */
#slideshow_container {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

/* images within slideshow */
.slide_show_images {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 8px rgba(0,0,0,.75);
    width: auto;
}

/* next/prev buttons */
.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    margin-top: -0vw;
    color: darkgrey;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}

/* positioning the right next button */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* hover effect on slideshow buttons */
.previous:hover, .next:hover {
    background-color: rgba(0,0,0,.8);
    color: white;
}

/* slideshow text */
.text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgba(0,0,0,0.75);
    font-weight: bold;
    border-radius: 7px 7px 7px 7px;
}

.slide_number {
    color: white;
    position: absolute;
    top: 0;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    font-weight: bold;
    display: none;
}

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    z-index: 1;
}

/* hover effect for slideshow dots */
.active, .dot:hover {
    background-color: black;
}

/* fade animation for slideshow */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/* this section covers the styling of the columns and rows within the table */
* { /* asterisk is a universal selector that applies this effect to all elements on the page */
    box-sizing: border-box; /* creates a box with a border within which we will place most of the text */
}

.column-1 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    height: 450px; /* adjust to fit content */
    box-shadow: 1px 3px 12px 4px rgba(0,0,0,.5);
    background-color: #f4f4f4;
}

.column-2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 450px; /* adjust to fit content */
    background-color: #4d4d4dbb;
}

.column-3 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3.5%;
    height: 450px; /* adjust to fit content */
    background-color: #4d4d4dbb;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    text-transform: uppercase;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    margin-top: 3%;
    color: #1a1a1a;
}

p {
    font-family: "Times New Roman", Times, serif;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

center {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    color: blue;
}

q {
    font-style: italic;
    font-weight: bold;
}

img {
    filter: grayscale(75%);
    border-radius: 8px;
    max-width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.column-2 img {
    filter: grayscale(75%);
    border-radius: 8px;
    max-width: 90%;
    height: 90%;
    margin: auto auto auto auto;
    display: block;
} 
center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

p:hover {
    transition: transform 2s;
    transform: scale(1.05);
}

h1:hover {
    transition: transform 3s;
    transform: scale(1.1);
}
img:hover {
    filter: grayscale(0%);
    transition: transform 2s;
    transform: scale(1.1);
}

footer {
    padding: 2%;
    background-color: #f4f4f4;
}

/* Contact form styling */

/* contact form button slides in from right on page load*/
@keyframes movePopup {
    from {bottom: -5vw;}
    to {bottom: 1.75vw;}
}

/* contact button fixed to bottom of page */
.pop_up_button {
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color: white;
    color: black;
    border: solid;
    cursor: pointer;
    position: fixed;
    -webkit-animation: movePopup 4s;
    animation: movePopup 4s;
}

/* popup form hidden by default */
.form-popup {
    border: 3px solid #f0f1f0;
    border-radius: 8px;
    z-index: 8;
    display: none;
    position: fixed;
    bottom: 6px;
    right: 6px;
}

/* form style */
.form-container {
    max-width: 49vw;
    padding: 9px;
    background-color: white;
}

/* input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: gainsboro;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1vw;
}

/* submit button */
.form-container .btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 1vw;
}

/* close button */
.form-container .cancel {
    background-color: darkred;
    color: white;
    border-color: gray;
}

/* button style */
button {
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: .3vw;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw 1.5vw;
    border-style: solid;
    cursor: pointer;
    width: 100%;
    height: auto;
}

/* hover effect for buttons */
button:hover, .form-container .btn:hover {
    color: white;
    background-color: darkcyan;
    -webkit-animation-duration: 2s;
    transition-duration: 2s;
    border-style: solid;
    border-color: silver;
}

.form-container .cancel:hover {
    color: white;
    background-color: black;
    -webkit-transition-duration: 2s; 
    transition-duration: 2s;
    border-style: solid;
    border-color: black;
}	